[tracemonkey]
command: /home/bennett/src/jslibs/Linux_32_opt/jshost -u

[rhino]
command: java -client -jar ./rhino/js-1.7R2.jar -opt 8

[style]
testdirs: /home/bennett/src/mlz-styles
styles: /home/bennett/src/mlz-styles
